<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Edit')">
    <meta charset="UTF-8">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="container">
    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" th:field="*{title}">
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea class="form-control" th:field="*{body}" rows="3"></textarea>
        </div>
        <div>
            <label >Hash Tags</label>
            <input th:field="*{hashTags}" class="form-control form-control-sm" type="text" placeholder="#2kewl4skool">
        </div>
        <button class="btn btn-dark">Submit</button>
    </form>
</div>

</body>
</html>