<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head('Nayos Blog!')">
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="container flex-wrapper">


<!--    <div th:each="post: ${posts}">-->
<!--        <h2>Title: <span th:text="${post.title}"></span></h2>-->
<!--        <h2>Body: <span th:text="${post.body}"></span></h2>-->
<!--        <h5>User: <span th:text="${post.user.username}"></span></h5>-->
<!--        <h5>Email: <span th:text="${post.user.email}"></span></h5>-->
<!--        <div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--            <form th:action="@{'/posts/'+post.id+'/disable'}">-->
<!--                <button>Disable</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
    <div th:each="post: ${posts}" class="row justify-content-center">
        <div class="col-10 mb-4">
            <!-- Card -->
            <div class="card">
                <!--Card image-->
                <div class="view overlay" id="img">
                    <img class="card-img-top" src="images/parkway.jpg"
                         alt="Card image cap">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 th:text="${post.title}" class="card-title text-center">Card title</h4>
                    <p th:text="${post.body}" class="card-text text-center">Some quick example text to build on the card
                        title and
                        make up the bulk of the
                        card's content.</p>
                    <div class="text-center mb-1">
                        <a th:href="${'/posts/' +post.id}">
                            <button type="button" class="btn btn-sm btn-outline-dark">Read More!</button>
                        </a>
                    </div>
                    <hr>
                    <div class=" text-muted ">
                        <a href="">
                            <p th:text="${post.hashTags}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>