
body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
}

.flex-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

a.navbar-brand {
    width: 120px;
    padding: 0;
    margin: 0;
}

#search-func {
    padding-top: 8px;
}

#logo {
    width: 70%;
    height: 50%
}

.card-img-top{
    height:700px;
}

#search-menu {
    padding: 5px;
    width: 260px;
}

#search-menu input {
    width: 200px;
}