<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Nayos Blog!')">
</head>

<body>

<header th:replace="fragments/navbar :: navbar"></header>

    <div class="container">

        <h1>Welcome to my website!</h1>

        <div th:each="post : ${posts}">
            <h1 th:text="${post.title}"></h1>
            <p th:text="${post.body}"></p>
            <p th:text="${post.id}"></p>

        </div>
    </div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>