<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Nayos Blog!')">
</head>

<body>

<header th:replace="fragments/navbar :: navbar"></header>
    <div class="container">
        <div th:each="post : ${posts}">
            <h1 th:text="${post.title}"></h1>
            <p th:text="${post.body}"></p>
            <p th:text="${post.id}"></p>

        </div>
    </div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>